{% extends "base.html" %}
{% load account %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="dkm-container my-4">

    {% comment %} Messages {% endcomment %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mb-3" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <h2 class="underline-orange">Sign In</h2>
    <p>Welcome to Dropped Kerb Mapper. To report the location of a dropped kerb, 
        please sign in. If you have not created an account yet, then please
        <a class="custom-link" href="{{ signup_url }}">create an account</a> to get started.
    </p>

    <div class="my-4">
        <form class="login font-size-125rem" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% crispy form %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-mango" type="submit" name="sign_in">Sign In</button>
        </form>
    </div>
</div>

{% comment %} Add CSS class to forgo password help text link {% endcomment %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}