{% extends "base.html" %}
{% load i18n allauth account %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="dkm-container my-4">
    <h2 class="underline-orange">Reset Password</h2>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    {% if user.is_authenticated %}
    {% element p %}
        {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
    {% endelement %}
    {% else %}
    {% element p %}
        {% blocktrans %}If an account exists for this email, you will receive a password reset email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
    {% endelement %}
    {% endif %}

{% endblock content %}
