{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">

  <h3>Create an account to report the locations of dropped kerbs in the UK.</h3>
  {% comment %} <p>If you already have an account, please <a class="link" href="{{ login_url }}">sign in</a> instead.</p> {% endcomment %}

  {% comment %} <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-signup right" type="submit">Sign Up &raquo;</button>
  </form> {% endcomment %}

</div>

{% comment %} <script src="{% static 'js/sign-up-form.js' %}"></script>
<script>
  // Call init function (assuming your JS file defines it)
  initSignUpForm();
</script> {% endcomment %}

{% endblock %}

