/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    /* Fonts */
    --primary-font: 'Open Sans', sans-serif;
    --bs-body-font-size: 1.4rem;

    /* Colours */
    /* Orange */
	--color-orange-1: #f5ddd2;
	--color-orange-1-a: #f5ddd2DD; 
	--color-orange-2: #eabaa5; 
	--color-orange-2-b: #ebbaa6d9; 
	--color-orange-3: #e09878;  	
	--color-orange-3-a: #e09878DD; 
	--color-orange-4: #bd582c; 	/* main colour */
	--color-orange-4-a: #bd582cdd; 
	--color-orange-4-b: #bd582cbb;
	--color-orange-5: #8e4221; 
	--color-orange-6: #5f2c16;
	
	/* Coffee */
	--color-coffee-1: #ebdcd5;
	--color-coffee-2: #D7B8AB; 	
	--color-coffee-3: #C29580;
	--color-coffee-4: #865640;
	--color-coffee-4-a: #865640da; 
	--color-coffee-5: #644030;
	--color-coffee-6: rgb(67, 43, 32); 	/* main font-color */
	--color-coffee-6-a: #432b20cc; 

	/* Green */
	--color-green-1: #E0E4DB;
	--color-green-1-a: #E0E4DBCC;
	--color-green-2: #C1CAB6;
	--color-green-2-a: #C1CAB6CC;
	--color-green-3: #A2AF92; 
	--color-green-4: #637052; 
	--color-green-4-a: #637052cc;
	--color-green-5: #4A543E;
	--color-green-6: #313829;

	/* Brown */
	--color-brown-1: #ECE6DD;
	--color-brown-2: #D8CEBA;
	--color-brown-3: #C5B598;
	--color-brown-4: #9B8357;
	--color-brown-5: #746241;
	--color-brown-6: #4E422C;

	/* Mango */
	--color-mango-1: #FBE6CE;
	--color-mango-1-a: #FBE6CEF0;
	--color-mango-2: #F7CE9D;
	--color-mango-2-a: #F7CE9DF0;
	--color-mango-3: #F3B56C;
	--color-mango-3-a: #F3B56CF0;
	--color-mango-4: #E48312;
	--color-mango-5: #AB620E;
	--color-mango-6: #724209;
}

/* Ensure the body and html take up the full height */
html, body {
    height: 100%;
}

body {
    font-family: var(--primary-font), sans-serif;
    display: flex;
    flex-direction: column;
}

/* Allow the main content to grow and push the footer down */
main {
    flex-grow: 1;
}

nav {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

p, li, td {
    font-size: 1.25rem;
    font-weight: 400;
}

tr {
    font-size: 1.25rem;
}

h2 {
    font-size: 1.4rem;
    font-weight: 500;
}

h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

.dkm-container {
    padding-left: 12px;
    padding-right: 12px;
}

.offcanvas.offcanvas-end {
    background-color: #FBE6CE;
    width: 250px;
}

.sidepanel {
    background-color: #FBE6CE;
    width: 250px; 
    z-index: 1045;
}

a {
	text-decoration: none;
	color: var(--color-coffee-6);
	cursor: pointer;
}

.hidden {
    display: none !important;
}

.underline-orange {
    display: inline-block;
    border-bottom: 5px solid var(--color-orange-2);
    padding-bottom: 5px;
}

/* Buttons */
.btn {
    font-family: var(--primary-font), sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
}

.btn-green {
    background-color: var(--color-green-2);
    color: black;
}

.btn-green:hover {
    background-color: var(--color-green-3);
    color: black;
}

.btn-red {
    background-color: rgb(230, 129, 129);
    color: black;
}

.btn-red:hover {
    background-color: rgb(236, 121, 121);
    color: black;
}

.btn-mango {
    background-color: var(--color-mango-2);
    color: black;
}

.btn-mango:hover {
    background-color: var(--color-mango-3);
    color: black;
}

.btn-orange {
    background-color: var(--color-orange-2);
    color: black;
}

.btn-orange:hover {
    background-color: var(--color-orange-3);
    color: black;
}

label, .reasons-help-text {
    font-family: var(--primary-font), sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

#logo {
    height: 25px;
}

#map {
    width: 100%;
    height: calc(100vh - 56px); /* Full height minus navbar height */
}

.maplibregl-user-location-dot {
    transition: none !important;
  }
/* Disable the pulse animation on the location dot */
.maplibregl-user-location-dot::after,
.maplibregl-user-location-dot::before {
    display: none !important;
  }

#toggle-satellite {
    position: relative; /* Set the container to relative positioning */
    left: 10px; 
    top: 10px; 
    width: 75px;
    height: 75px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
}

#toggle-icon {
    width: 100%;
    height: 100%; 
}

#toggle-text {
    position: absolute; /* Position the text over the image */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); 
    font-size: 1rem; 
    font-weight: bold; 
    color: white; /* Set text color */
    pointer-events: none; /* Ensure the text doesn't interfere with button clicks */
}

#add-report {
    position: absolute;
    top: 10px;
    left: 95px;
    background: rgb(246, 245, 241);
    border: 1px solid #ccc;
    padding: 8px;
    cursor: pointer;
    z-index: 1000;
    width: 75px;
    height: 75px; 
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

#add-report img {
    height: 50px; 
    vertical-align: middle;
}

.add-report-active {
    background: #F7CE9D !important;
    border: 1px solid #bd582c !important;
}

.hide-os .os-api-branding {
    display: none !important;
}

/* Custom Google attribution elements */
#google-logo {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 2;
    display: none;
    /* Initially hidden */
}

#google-copyright {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 2;
    display: none;
    /* Initially hidden */
    font-size: 12px;
    background: rgba(255, 255, 255, 0.8);
    padding: 2px 4px;
}

.maplibregl-ctrl.maplibregl-ctrl-attrib.maplibregl-compact {
    background: rgba(255, 255, 255, 0.5);
    bottom: 0px;
    right: 0px;
    margin: 0;
}

.hide-os .maplibregl-ctrl.maplibregl-ctrl-attrib.maplibregl-compact,
.hide-os .maplibregl-ctrl.maplibregl-ctrl-attrib.maplibregl-compact a {
    background: rgba(255, 255, 255, 0);
    color: white; 
}

.maplibregl-ctrl-bottom-right {
    width: calc(100% - 120px);
    /* position to the right */
    right: 0px;
}

.cursor-crosshair {
    cursor: crosshair;
}

.map-report-form-container {
    display: none; /* Initially hidden */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 500px;
    background-color: #f5ddd2;
    padding: 10px;
    z-index: 1000;
}

#close-form {
    position: absolute;
    top: 0;
    right: 15px;
    padding: 0;
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

#close-form:hover {
    color: #ff0000;
}

.maplibregl-popup {
    max-width: 320px;
}

.col-form-label {
    font-size: 1.25rem;
    font-weight: 400;
}

#map-report-form input,
#map-report-form select,
#map-report-form select option,
.edit-report input,
.edit-report select,
.edit-report select option {
    font-size: 1.25rem;
}

/* Reasons list items */
.choices__list--dropdown .choices__item {
    font-size: 1.25rem !important;
}

.choices__list--multiple .choices__item {
    font-size: 1.15rem !important;
}

#reasons .form-check {
    width: 48%; /* Adjust width to fit two columns */
    box-sizing: border-box;
    margin-bottom: 10px;
}

.hide-sm {
    display: none;
}

.table-responsive {
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for touch devices */
    width: 100%; /* Ensure the container takes up the full width */
}

.table-responsive table {
    width: 100%; /* Ensure the table takes up the full width */
}

.created-col {
    min-width: 120px; /* to fit the date */
    white-space: nowrap; 
}

/* Used in footer */
.background-orange-1 {
	background-color: var(--color-orange-1);
}

/* Blusky icon */
.bi-bluesky::before {
    content: "";
    background-color: currentColor;
    -webkit-mask: url("../images/icons/bluesky.svg") no-repeat 50% 50%;
    mask: url("../images/bluesky.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    height: 22px;
    width: 22px;
}

/* Show the successful report submission message in the centre of the map */
.success-message {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: var(--color-mango-1);
    color: var(--color-brown-6);
    font-size: 1.25rem;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid var(--color-brown-4);
    z-index: 1001;
    width: 300px;
}

/* Report details page */
.report-photo-container{
    width: 300px;
}

.report-photo {
    width: 100%; 
    height: auto;
}

.what-next {
    width: 300px;
}

/* Create new report form */

#div_id_reasons > div {
    width: 100% !important;
}

/* Crispy applies mb-3 to div that contains form elements */
.map-report-form-container .row.mb-3 {
    margin-bottom: 0.25rem !important; /* Reduce the margin between form groups */
}

#div_id_condition > div {
    padding-right: 0;
    width: 100% !important;
}

.map-report-form-container {
    max-height: 80vh;    /* Adjust based on how tall you want the form */
    overflow-y: auto;    /* Enable vertical scrolling */
}

#div_id_photo {
    padding-bottom: 0.75rem;
}

.edit-report {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 360px) {
    /* Make the logo smaller so the menu toggler can fit on the same line on tiny screens */
    #logo {
        height: 22px;
    }

    .navbar-toggler {
        height: 30px;
        padding: 2px 8px; 
    }

    .navbar-toggler-icon {
        height: 20px;  
        width: 20px;  
    }
}

/* Allow wrapping for small screens */
@media (max-width: 549px) {
    .maplibregl-ctrl-attrib {
        white-space: normal; /* Allow text to wrap */
        word-wrap: break-word; /* Break long words if necessary */
    }
}

@media (max-width: 575px) {
    /* Hide longitude and latitude on small screens */
    #div_id_latitude, #div_id_longitude {
        display: none;
    }
    
    /* when #map exists in the doc hide the footer for small screens */
    html:has(#map) footer {
        display: none;
    }
}

@media (min-width: 576px) {
    /* Crispy applies mb-3 to div that contains form elements */
    .map-report-form-container .row.mb-3 {
        margin-bottom: 0.5rem !important; /* Reduce the margin between form groups */
    }
}

/* Add a left margin to the main content for medium screens and larger */
@media (min-width: 768px) {
    main,
    footer,
    .map-report-form-container {
        margin-right: 250px; /* width of the menu panel */
    }

    #report-table{
        overflow-x: auto;
    }

}

@media (min-width: 992px) {
    .hide-sm {
        display: block;
    }

}