/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    /* Fonts */
    --primary-font: 'Open Sans', sans-serif;
 	--secondary-font: 'Bitter', serif;
    --bs-body-font-size: 1.4rem;

    /* Colours */
    /* Orange */
	--color-orange-1: #f5ddd2;  /* Footer background */
	--color-orange-2:  #eabaa5; /* Header h2 underline */
	--color-orange-3: #e09878;  /* Button hover */
	--color-orange-4: #bd582c; 	/* Link and icon */
	--color-orange-4-b: #bd582cbb; /* cover title background */
	
	/* Coffee */
	--color-coffee-6: #432b20; 	/* Links */

	/* Green */
	--color-green-1: #E0E4DB;  /* Message alert background */
	--color-green-2: #C1CAB6;  /* Message alert border, button*/
	--color-green-3: #A2AF92;  /* Button hover */
	--color-green-5: #4A543E;  /* Reasons background */
	--color-green-6: #313829;  /* Reasons border */

	/* Mango */
	--color-mango-1: #FBE6CE; /* Map location search results background */
	--color-mango-2: #F7CE9D; /* Button background */
	--color-mango-3: #F3B56C; /* Button hover */    
}

/* Ensure the body and html take up the full height */
html, body {
    height: 100%;
}

body {
    font-family: var(--primary-font), sans-serif;
    display: flex;
    flex-direction: column;
}

/* Allow the main content to grow and push the footer down */
main {
    flex-grow: 1;
}

nav {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-toggler {
    width: 60px; /* match width of map action buttons */
}

p, li, td {
    font-size: 1.25rem;
    font-weight: 400;
}

th {
    font-weight: 600;
}

tr {
    font-size: 1.25rem;
}

h2 {
    font-family: var(--secondary-font), sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

h3 {
    font-family: var(--secondary-font), sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 1.6rem;
}

h4 {
    font-family: var(--secondary-font), sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 1.5rem;
}

/* Message alerts */
.alert-success {
    /* Override Bootstrap variables */
    --bs-alert-color: black !important;
    --bs-alert-bg: var(--color-green-1) !important;
    --bs-alert-border-color: var(--color-green-2) !important;
}


.bold-font {
    font-weight: 600;
}

.dkm-container {
    max-width: 800px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
}

.list-reports-container {
    padding-left: 4px;
    padding-right: 12px;
}

.custom-link {
    color: var(--color-orange-4);
    text-decoration: underline;
}

a {
	text-decoration: none;
	color: var(--color-coffee-6);
	cursor: pointer;
}

.hidden {
    display: none !important;
}

.align-right {
    position: relative;
    right: 0;
}

.underline-orange {
    display: inline-block;
    border-bottom: 5px solid var(--color-orange-2);
    padding-bottom: 5px;
}

/* SIDEPANEL MENU FOR XL SCREENS */
.offcanvas.offcanvas-end {
    background-color: #FBE6CE;
    width: 250px;
}

.sidepanel {
    background-color: #FBE6CE;
    width: 250px; 
    z-index: 10;
}

/* Buttons */
.btn {
    font-family: var(--primary-font), sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
}

.btn-green {
    background-color: var(--color-green-2);
    color: black;
}

.btn-green:hover {
    background-color: var(--color-green-3);
    color: black;
}

.btn-red {
    background-color: rgb(230, 129, 129);
    color: black;
}

.btn-red:hover {
    background-color: rgb(236, 121, 121);
    color: black;
}

.btn-mango {
    background-color: var(--color-mango-2);
    color: black;
}

.btn-mango:hover {
    background-color: var(--color-mango-3);
    color: black;
}

.btn-orange {
    background-color: var(--color-orange-2);
    color: black;
}

.btn-orange:hover {
    background-color: var(--color-orange-3);
    color: black;
}

.button-disabled {
    background-color: grey;
    cursor: not-allowed;
}

label, 
.reasons-help-text {
    font-family: var(--primary-font), sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

#logo {
    height: 25px;
}

header.container {
	--bs-gutter-x: 0; /* Remove Bootstrap gutter for the header */
	padding: 0;
}

.home-container {
    max-width: 800px;
    margin: 0 auto;
}

/* Visibility */
.invisible {
	display: none;
}

/* HOME PAGE */

/* hero image */
.hero {
	width: 100%;
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative; /* For adding hero text relative to the hero image */
}

#hero-home {
	background-image: url("../images/dropped_kerb_medium.jpg");
	background-position: 50% 50%;
}

/* 2ND IMAGE ON HERO */
#map-marker {
    position: absolute;
    top: 43%;   
    left: 50%; 
    transform: translate(-50%, -100%); /* Centers horizontally and places the bottom of the marker at the center */
    width: 50px;
    height: 50px;
    background-image: url('../images/marker-green.png'); 
    background-size: contain;
    background-repeat: no-repeat;
}

/* Cover content - cover title and call-to-action butons */
#cover-content {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    align-content: center;
    text-align: center;
    width: 95%;
    max-width: 355px;
}

/* cover title */
.cover-title {
    background-color: var(--color-orange-4-b);
    text-align: center;
    border-radius: 5px;
}

.cover-title > h2 {
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
}

/* Call-to-action buttons */
.call-to-action .btn {  
    font-size: 1.1rem;
}

/* INSTRUCTIONS PAGE */
.para-wide {
    display: none;
}

.para-narrow {
    display: block;
}

.para-sm,
.para-422 {
    display: inline;
}

.para-lg,
.para-1200,
.para-423 {
    display: none;
}

#instructions-container ol {
    padding-left: 1.5rem;
}

#instructions-container li {
    margin-bottom: 1rem;
}

/* Instructions images */
.instructions-img {
    width: 450px;
    max-width: 100%;
    margin-bottom: 1.5rem;
    display: block;
    margin: 0 auto 1.5rem auto;
}

#big-plus::before {
    font-size: 2rem;
    color: blue;
    vertical-align: -.25em;
}

.map-button-inline {
    display: inline;
    width: 3rem;
    height: 3rem;
}

.bullet-green::marker {
    color: green; /* change red to your desired colour */
}

.bullet-orange::marker {
    color: orange; /* change red to your desired colour */
}

.bullet-red::marker {
    color: red; /* change red to your desired colour */
}


#not-logged-in-buttons {
    display: flex;
    justify-content: center;  
}

/* MAP: Create new report page*/

#map {
    width: 100%;
    height: calc(100vh - 56px); /* Full height minus navbar height */
}

/* Location search bar */
#search-location {
    z-index: 3; /* Ensure the results are above the map controls */
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

#text-search {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3; /* Ensure the results are above the map controls */
}

#text-search-input {
    font-size: 1.25rem;
    height: 60px;
    border: 2px solid var(--color-orange-4);
    border-right: none;
    background: rgb(246, 245, 241) !important;
}

#text-search-submit {
    width: 60px;
    border: 2px solid var(--color-orange-4);
    background: rgb(246, 245, 241) !important;
}

/* search submit icon */
.bi-search {
    color: black;
}

/* Location search results */
#location-search-results {
    position: relative;
    background-color: var(--color-mango-1);
    z-index: 3;
    padding: 5px 12px;
}

/* User location button */
.maplibregl-ctrl-top-right {
    margin-top: 4px !important;
}

.maplibregl-ctrl-group {
    box-shadow: none !important;
}

.maplibregl-ctrl-geolocate {
    width: 60px !important;
    height: 60px !important;
    border: 2px solid var(--color-orange-4) !important;
    border-radius: 4px !important;
    background: none !important;
    background-color: rgb(246, 245, 241) !important;
}

/* User location indicator */
.maplibregl-user-location-dot {
    transition: none !important;
  }

/* Disable the pulse animation on the location dot */
.maplibregl-user-location-dot::after,
.maplibregl-user-location-dot::before {
    display: none !important;
}

/* remove the marker’s box‐shadow by hiding the shadow-ellipse group in every default marker SVG */
.maplibregl-marker svg > g > g:first-child {
    display: none !important;
  }

/* Map controls */

/* Toggle map style button */
#toggle-satellite {
    position: absolute; /* Set the container to relative positioning */
    right: 10px; 
    top: 85px; 
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid var(--color-orange-4);
    z-index: 2;
    background: rgb(246, 245, 241);
}

#satellite-icon {
    width: 35px;
    height: 35px; 
}

/* Add report button */
#add-report {
    position: absolute;
    top: 156px;
    right: 10px;
    background: rgb(246, 245, 241);
    border-radius: 4px;
    border: 2px solid var(--color-orange-4);
    cursor: pointer;
    z-index: 2;
    width: 60px;
    height: 60px; 
}

#add-report img {
    height: 30px; 
    vertical-align: middle;
}

.button-active {
    background: #F7CE9D !important;
}

/* New reports map page messages container div */
#message-container {
    position: absolute;
    top: 75px; 
    left: 50%;
    transform: translate(-50%); 
    font-size: 1.25rem;
    z-index: 1001;
    /* width: 300px; */
    max-width: 90%;
}

/* ATTRIBUTION */

/* Custom Google attribution elements */
#google-logo {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 2;
    display: none;
    /* Initially hidden */
}

#google-copyright {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 2;
    display: none;
    /* Initially hidden */
    font-size: 12px;
    background: rgba(255, 255, 255, 0.8);
    padding: 2px 4px;
}

.maplibregl-ctrl.maplibregl-ctrl-attrib.maplibregl-compact {
    background: rgba(255, 255, 255, 0.5);
    bottom: 0px;
    right: 0px;
    margin: 0;
}

/* Ordnance Survey branding */
.hide-os .os-api-branding {
    display: none !important;
}

.hide-os .maplibregl-ctrl.maplibregl-ctrl-attrib.maplibregl-compact,
.hide-os .maplibregl-ctrl.maplibregl-ctrl-attrib.maplibregl-compact a {
    background: rgba(255, 255, 255, 0);
    color: white; 
}

/* Location of Maplibre attribution */
.maplibregl-ctrl-bottom-right {
    width: calc(100% - 120px);
    /* position to the right */
    right: 0px;
}

/* Cursor style in new report mode */
.cursor-crosshair {
    cursor: crosshair;
}

/* Map marker popup */
.maplibregl-popup {
    max-width: 300px !important;
}
.maplibregl-popup p {
    margin-bottom: 0.7rem;
}

/* NEW REPORT FORM */
#map-report-form-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 500px;
    background-color: #f5ddd2;
    padding: 10px;
    z-index: 1000;
    max-height: 80vh;    /* Adjust based on how tall you want the form */
    overflow-y: auto;    /* Enable vertical scrolling */
}

.col-form-label {
    font-size: 1.25rem;
    font-weight: 400;
}

.font-size-125rem *,
.font-size-125rem {
    font-size: 1.25rem;
}

/* Reasons list items */
.choices__list--dropdown .choices__item,
.choices__input {
    font-size: 1.25rem !important;
}

.choices__list--multiple .choices__item {
    font-size: 1.15rem !important;
}

.choices__item.choices__item--selectable {
    background-color: var(--color-green-5) !important;
    border: 1px solid var(--color-green-6) !important;
}

#reasons .form-check {
    width: 48%; /* Adjust width to fit two columns */
    box-sizing: border-box;
    margin-bottom: 10px;
}

.hide-sm {
    display: none;
}

/* LIST REPORTS PAGE */
.table-responsive {
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for touch devices */
    width: 100%; /* Ensure the container takes up the full width */
}

.table-responsive table {
    width: 100%; /* Ensure the table takes up the full width */
}

.created-col {
    min-width: 120px; /* to fit the date */
    white-space: nowrap; 
}

.bi-eye-fill, 
.bi-camera-fill,
.bi-pencil-fill {
    color: var(--color-orange-4);
}

/* REPORT DETAILS PAGE */
.report-photo-container{
    width: 300px;
}

.report-photo {
    width: 100%; 
    height: auto;
}

/* make the delete_photo radios sit side by side */
#id_delete_photo {
    display: flex;
    align-items: center; /* vertically center radios & labels */
    gap: 1rem;           /* space between them */
  }

/* Create new report form */

#div_id_reasons > div {
    width: 100% !important;
}

/* Crispy applies mb-3 to div that contains form elements */
#map-report-form-container .row.mb-3 {
    margin-bottom: 0.25rem !important; /* Reduce the margin between form groups */
}

#div_id_condition > div {
    padding-right: 0;
    width: 100% !important;
}


#div_id_photo {
    padding-bottom: 0.75rem;
}

.edit-report {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
}

.current-photo {
    width: 100%;
    max-width: 500px;
}

.report-detail {
    max-width: 800px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.report-detail th {
    font-weight: 400;
}

.report-detail th {
    padding-left: 0;
}

.report-detail table.table {
    width: auto;      /* allow table to shrink to content */
}

.report-detail .btn {
    width: 210px;
}

.what-next {
    max-width: 510px;
}

.what-next.row .col-md-auto {
    padding-right: 0;
}

/* SIGNUP PAGE */
#id_is_carer,
#id_uses_mobility_device {
    max-width: 131px;
    max-height: 44px;;
}

.btn-container {
    text-align: right;
  }

/* FOOTER */

.background-orange-1 {
	background-color: var(--color-orange-1);
}

/* Blusky icon */
.bi-bluesky::before {
    content: "";
    background-color: currentColor;
    -webkit-mask: url("../images/icons/bluesky.svg") no-repeat 50% 50%;
    mask: url("../images/bluesky.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    height: 22px;
    width: 22px;
}

@media (min-width: 360px) {
    /* Success message for dragging marker on map */
    /* Move success message down */
    .success-message {
        position: absolute;
        top: 100px; 
        left: 50%;
        transform: translate(-50%);
    }
}


@media (max-width: 360px) {
    /* reduce all font sizes by 10% on very small screens  */

    html {
        font-size: 90%;
    }

    /* Make the logo smaller so the menu toggler can fit on the same line on tiny screens */
    #logo {
        height: 22px;
    }

    .navbar-toggler {
        width: auto;
        height: 30px;
        padding: 2px 8px; 
    }

    .navbar-toggler-icon {
        height: 20px;  
        width: 20px;  
    }

    /* Home page hero cover title  */
    /* .cover-title { */
        /* width: 250px; */
    /* } */

    /* Map controls */

    /* Location search bar */
    #text-search {
        width: 100%;
    }

    #text-search-input {
        height: 50px;
    }

    #text-search-submit {
        width: 50px;
    }

    .maplibregl-ctrl-top-right {
        margin-top: 64px !important;
    }
    
    /* User location button */
    .maplibregl-ctrl-geolocate {
        width: 50px !important;
        height: 50px !important;
    }

    /* Toggle map style button */
    
    #toggle-satellite { 
        top: 75px; 
        width: 50px;
        height: 50px;
        top: 135px;
    }

    #satellite-icon {
        width: 25px;
        height: 25px; 
    }

    /* Add report button */
    #add-report {
        top: 195px;
        width: 50px;
        height: 50px; 
    }

    #add-report img {
        height: 30px; 
        vertical-align: middle;
    }

    /* map marker popup */
    .maplibregl-popup {
        width: 80vw !important;
        max-width: 80vw !important;
    }

    .maplibregl-popup p {
        margin-bottom: 0.6rem;
    }
}

@media (min-width: 361px) and (max-width: 422px) {

    /* Map controls */

    /* Location search bar */
    #text-search {
        width: 100%;
    }

    .maplibregl-ctrl-top-right {
        margin-top: 75px !important;
    }

    /* Toggle map style button */
    
    #toggle-satellite { 
        top: 155px; 
    }

    /* Add report button */
    #add-report {
        top: 225px;
    }
}

/* Allow wrapping for small screens */
@media (max-width: 549px) {
    .maplibregl-ctrl-attrib {
        white-space: normal; /* Allow text to wrap */
        word-wrap: break-word; /* Break long words if necessary */
    }
}

@media (max-width: 575px) {
    /* when #map exists in the doc hide the footer for small screens */
    html:has(#map) footer {
        display: none;
    }
}

@media (min-width: 360px) {
    /* Move message container down */
    #message-container {
        position: absolute;
        top: 100px; 
        left: 50%;
        transform: translate(-50%);
    }
}

@media (min-width: 423px) {
    #search-location {
        max-width: 330px;
    }

    .para-422 {
        display: none;
    }
    
    .para-423 {
        display: inline;
    }
    
}

@media (min-width: 576px) {
    .container {
        max-width: none; /* Remove the max-width for larger screens */
    }
    /* Crispy applies mb-3 to div that contains form elements */
    #map-report-form-container .row.mb-3 {
        margin-bottom: 0.5rem !important; /* Reduce the margin between form groups */
    }
}

/* Add a left margin to the main content for medium screens and larger */
@media (min-width: 768px) {
    main,
    footer,
    #map-report-form-container {
        margin-right: 250px; /* width of the menu panel */
    }

    #map-marker {
        width: 60px;
        height: 60px;
    }

    #report-table{
        overflow-x: auto;
    }

    .para-768 {
        display: block;
    }
    .para-narrow {
        display: none;
    }

}

@media (min-width: 992px) {
    .hide-sm {
        display: block;
    }

    .para-sm {
        display: none;
    }
    
    .para-lg {
        display: inline;
    }

}