{% comment %} 
Partial template for unsuccessful report creation. The hx-swap-oob 
attribute allows HTMX to replace the content of the #message-container 
div with the flashed messages.
errors is a dictionary containing field names as keys and lists of error messages as values.
{% endcomment %}
<div id="message-container" hx-swap-oob="innerHTML">
    {% if errors.non_field_errors %}
    <div class="alert alert-danger">
        {{ errors.non_field_errors.0 }}
    </div>
    {% endif %}
    {% for field, field_errors in errors.items %}
    <div class="text-danger">
        {{ field }}: {{ field_errors|join:", " }}
    </div>
    {% endfor %}
</div>