{% extends 'base.html' %} 
{% block content %}
{% load static %}

<header class="container">

    <!-- For SEO only, not visible -->
    <h1 class="invisible">Dropped Kerb Mapper</h1>

    <!-- Hero image with cover title -->
    <section class="hero" id="hero-home" role="banner" aria-labelledby="home-title-md">

        <div id="cover-content" class="text-center">

            <!-- Cover title  -->
            <div class="cover-title p-2 mb-4">
                <h2 class="mx-1 mt-2">Help us make the UK accessible.<br>For everyone.</h2>  
            </div>

        <!-- Call to action buttons  -->
            <div id="call-to-action" class="text-center my-1">
                {% if not user.is_authenticated %}
                    <div id="not-logged-in">
                        <a href="{% url 'account_login' %}" class="btn btn-mango-cover">Sign In</a>
                        <a href="{% url 'account_signup' %}" class="btn btn-mango-cover">Create Account</a>
                    </div>
                {% else %}
                    <div id="logged-in">
                        <a href="{% url 'map-reports' %}" class="btn btn-mango-cover">Create Report</a>
                        <a href="{% url 'instructions' %}" class="btn btn-mango-cover">Instructions</a>
                    </div>
                {% endif %}
            </div>
  
        </div>

        <div id="map-marker"></div>
    </section>
</header>

<div class="dkm-container my-4 home-container">

    <h2 class="underline-orange mb-2">Welcome</h2>
    <p>
        The purpose of Dropped Kerb Mapper is to record the locations 
        of dropped kerbs in the UK. Anyone can add a dropped
        kerb to our map, and we encourage you to do so. 
        You can also add a photo of the dropped kerb, and note its 
        condition, but this is optional.
    </p>
    <p>
        This data is fed into <a href="https://www.mobilitymapper.com" target="_blank" rel="noopener noreferrer" class="custom-link">Mobility Mapper</a>,
        which is a free app that generates accessible routes for users of wheeled mobility devices.
        Mobility Mapper is currently in development, and we will keep contributers to Dropped Kerb Mapper up-to-date on its progress.
    </p>
    <p>
        The data collected will also be used to raise the awareness of the need for well designed and maintained dropped kerbs in the UK, 
        and to help local councils and authorities to understand where they are needed most.
    </p>

    <h2 class="underline-orange mt-3 mb-2">How to Contribute</h2>

    <p>When you have created an account and signed in, you can</p>

    <ul>
        <li>Report the location of a dropped kerb by clicking on a map.</li>
        <li>Upload a photo of the dropped kerb (optional).</li>
        <li>Note the condition of the dropped kerb (optional).</li>
        <li>View a list of your reports.</li>
        <li>Edit your reports.</li>
    </ul>

    <p>
        We have made this app intuitive to use, but also provide <a href="{% url 'instructions' %}" class="custom-link">instructions</a>. 
        Please contact us if you have any questions or suggestions.
    </p>

    <p>
        When you create an account, we ask if you, or someone you care for uses a wheeled mobility device.
        If you do, then we also offer you the option to record locations that do not have dropped kerbs, but should have them.
        This will help us show local councils and authorities where additional dropped kerbs are needed most.
    </p>

    {% if not user.is_authenticated %}
    <div class="mb-4" id="not-logged-in">
        <p>Sign in or create an account to start contributing!</p>
        <div id="not-logged-in-buttons">
            <a href="{% url 'account_login' %}" class="btn btn-mango mx-2">Sign In</a>
            <a href="{% url 'account_signup' %}" class="btn btn-mango mx-2">Create Account</a>
        </div>
    </div>
    {% endif %}

</div>
{% endblock content %}