{% extends "base.html" %}

{% block content %}
<div class="dkm-container my-4">
    <h2 class="underline-orange mb-2">Instructions</h2>
        
    <p class="para-wide">
        You can find the links to all the pages of this app in the menu, which is in
        the yellow panel on the right hand side of the screen. 
    </p>

    <p class="para-narrow">
        You can find the links to all the pages of this app in the menu, which 
        can be revealed by clicking the hamburger icon (three horizontal lines) 
        in the top right of the screen. 
    </p>

    <h3>How to report the location of a dropped kerb</h3>
    <ol>
        <li>In the menu, click Add Report. A map will load. The first time 
            it loads, you will need to allow the app to access your location.
            If you do not allow this, the map will be centred on the UK.</li>
        </li>

        <li>Find the location of the dropped kerb on the map. 
            You can zoom in, pan, and toggle between the map view and satellite view to help you locate the dropped kerb.
            Notice that in map-view you can see the outline of paths and roads.
        </li>
        
        <li>Click on the button in the top left of the map to activate report mode. 
            The button will turn orange and your cursor will turn into a + (crosshair), which means you can now click on the location of the dropped kerb on the map.</li>
        <li>Optional: Select the condition of the dropped kerb, where:
            <ul>
                <li>Green: The dropped kerb is usable and in good condition.</li>
                <li>Orange: The dropped kerb is usable but needs improvement.</li>
                <li>Red: The dropped kerb is dangerous not usable.</li>
                <li>Blue: There is no dropped kerb at this location but one is needed to provide access.</li>
            </ul>
        If you select either Orange or Red, please select at least one reason why.
        You many also leave a comment to further clarify your reason for selecting the condition.</li>
    </ol>

    <h3>How to edit a report</h3>

    <p>There are two ways to edit a report:</p>
    
    <p>If you need to adjust the position of the marker, and not make any other changes:</p>
    <p>On the map, double click on the marker. It will turn white, which means you can drag 
        it to move it to a different location.
    </p> 
        
    <p>If you want to change any element of the report, you can do so on the edit report page. This can be accessed either:</p>    
    <ul>
        <li>On the map, (single) click on the marker to open a popup, which contains a link to the edit report page.</li>
        <li>Click the List Reports link in the menu to display all your reports, each of which is proceeded by an 'edit' link.</li>
    </ul>
    
    <h3>View your reports</h3>
    <ol>
        <li>Go to the <a href="{% url 'reports-list' %}">List Reports</a> page.</li>
        <li>Here you can see all your submitted reports.</li>
        <li>You can also edit or delete your reports if needed.</li>
    </ol>

    <h3>How to do something else</h3>

    <p>If you have any questions, feel free to contact us through the <a href="{% url 'contact' %}">Contact</a> page.</p>
    <a href="{% url 'map-reports' %}" class="btn btn-primary">Go to Map Reports</a>
</div>
{% endblock %}