{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="dkm-container my-4" id="instructions-container">
    <h2 class="underline-orange mb-2">Instructions</h2>
        
    <p class="display-narrow">You can find the links to all the pages of this app in the menu, which 
        can be revealed by clicking the hamburger icon (three horizontal lines) 
        in the top right of the screen.</p>

    <p class="display-768">You can find the links to all the pages of this app in the menu, which is in
        the yellow panel on the right hand side of the screen.</p>

    <p>The instructions for each activity can be revealed by clicking the 
        relevant heading below.</p>

    <p>To allow this web app to access your location, you will need to allow location services both in 
        your device settings and in your browser settings. 
        This is different for each device and browser, so please search online for instructions on how to do this.
        For example, if you are using an iPhone with Safari, you can search for:
        <br>
        <em>How to allow location services on my iPhone and Safari.</em>
        <br>
        Or if you are using a Samsung Galaxy with Chrome, you can search for:
        <br>
        <em>How to allow location services on my Samsung Galaxy and Chrome.</em>
    </p>
        
    <div class="accordion" id="instructionsAccordion">

        <div class="accordion-item">
            <h3 class="accordion-header" id="heading-report-location">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-report-location" aria-expanded="false" aria-controls="collapse-report-location">
                    <span class="underline-green">Create new report</span>
                </button>
            </h3>
            <div id="collapse-report-location" class="accordion-collapse collapse" aria-labelledby="heading-report-location" data-bs-parent="#instructionsAccordion">
                <div class="accordion-body">
                    <p>To create a new dropped kerb report, go to the menu and click <a href="{% url 'map-reports' %}">Add Report</a>. 
                        A map will load, as shown below. 
                        
                    </p>
        
                    <div class="mt-2">
                        <img src="{% static 'images/instructions_1.webp' %}" alt="Map loads" class="instructions-img map-view-img">
                    </div>

                    <p>When the map loads, it zooms in on the centre of the UK. To zoom in on your current location,
                        click or tap the geolocate button 
                        <img src="{% static 'images/crosshair.png' %}" alt="crosshair icon" class="map-button-inline">.
                        You will need to allow the app to access your location to use this feature.
                    </p>
                    
                    <p>when you tap the geolocate button it will turn orange,
                        <img src="{% static 'images/crosshair-on.png' %}" alt="crosshair icon" class="map-button-inline">
                        which means the map will follow your location as you move around.
                        To turn this feature off, click the button again.
                    </p>

                    <p class="bold-font mb-1 mt-4">Search for a location</p>

                    <p>To search for a specific place or location, click the search button
                       <img src="{% static 'images/search_button.png' %}" alt="Search button" class="map-button-inline">.
                        to reveal a search bar
                    </p>

                    <div class="mt-2">
                        <img src="{% static 'images/search_bar.png' %}" alt="Search Bar" class="instructions-img map-view-img">
                    </div>
                        
                    <p>Click on the search bar to type your location, and then click the arrow button.</p>
                    
                    <div class="mt-2">
                        <img src="{% static 'images/search_bar_entered.png' %}" alt="Search bar with arrow" class="instructions-img map-view-img">
                    </div>

                    <p>A list of search results will appear below the search bar, and you can select one of them to centre the map on that location.</p>
                        
                    <div class="mt-2">
                        <img src="{% static 'images/search_results.webp' %}" alt="Search results" class="instructions-img map-view-img">
                    </div>

                    <p>You can also navigate to a location by moving the map around as follows:</p>

                    <p>On mobile devices:</p>
                    <ul>
                        <li>Drag your finger on the map to move it around (pan).</li>
                        <li>Use two fingers to pinch to zoom in and out.</li>
                    </ul>

                    <p>On desktop computers and laptops:</p>
                    <ul>
                        <li>Click on the map and drag it to move it around (pan).</li>
                        <li>To zoom in and out, you can:
                            <ul class="mt-3">
                                <li>Use the scroll wheel on your mouse.</li>
                                <li>If you have a touchpad, use two fingers to pinch to zoom in and out.</li>
                                <li>Press Ctrl and + at the same time to zoom in, and Ctrl and - to zoom out.</li>
                            </ul>
                        </li>
                    </ul>

                    <p class="bold-font mb-1 mt-4">Finding a dropped kerb</p>

                    <p>
                        If you are outside and can see the dropped kerb you want to report,
                        you can use the geolocate button to centre the map on your current location,
                        and then zoom in to find the dropped kerb.
                    </p>
                    <p>
                        Notice that if you zoom in as far as possible, you can see the pavements 
                        (AKA sidewalks) alongside the road. Pavements are shown in grey, 
                        with a dotted line indicating where they meet the road.
                    </p>

                    <div class="mt-2">
                        <img src="{% static 'images/pavements.png' %}" alt="Pavements in grey" class="instructions-img map-view-img">
                    </div>                    

                    <p>
                        The best way to find the precise location of the dropped kerb on the map
                        is to activate Google streetview. To do this, click the streetview button
                        <img src="{% static 'images/streetview_button.png' %}" alt="Streetview button" class="map-button-inline">.  
                        This will split the screen in two, with the streetview below the map.
                    </p>
                    <p>Toggle between the map-view and satellite view to help you locate the dropped kerb.</p>

                        <p>Toggle to satellite view to zone in on the location of the dropped kerb. 
                        Even if the dropped kerb is blurry, or hidden by a tree, the satellite view 
                        can provide additional visual information to help you find it (see the satellite-view image below for an example, a dropped kerb is circled in blue).</p>
                    </p>

                    <div class="mt-2 para-422 col-12 col-xl-6">
                        <img src="{% static 'images/satellite_view_zoom.webp' %}" alt="Satellite view zoomed in" class="instructions-img map-view-img">
                    </div>


                    <p>You can toggle between the Ordnance Survey (OS) map view and Google satellite view by clicking the toggle satellite view button
                        <img src="{% static 'images/toggle_satellite_button.png' %}" alt="Toggle satellite button" class="map-button-inline">.
                        When in satellite view, the button turns orange.
                        <img src="{% static 'images/toggle_satellite_button_orange.png' %}" alt="Toggle satellite button turned orange" class="map-button-inline">
                    </p>

                    <div class="mt-2">
                        <img src="{% static 'images/instructions_2.webp' %}" alt="Satellite view" class="instructions-img map-view-img">
                    </div>

                    <p class="bold-font mb-1 mt-3">Activate new report mode</p>

                    <p>Now you have found your dropped kerb on the map, click on the map marker button 
                        <img src="{% static 'images/add_report_button.png' %}" alt="Search button" class="map-button-inline"> 
                        to activate new report mode.</p>
                        
                    <p>The button will turn orange 
                        <img src="{% static 'images/add_report_button_orange.png' %}" alt="Search button" class="map-button-inline"> 
                        and your cursor will turn into a big blue cross <i class="bi bi-plus" id="big-plus"></i> 
                        which means you can now click on the location of the dropped kerb on the map.</p>

                    <p class="bold-font mb-1 mt-3">Create the new report</p>

                    <p>
                        Click on the location of the dropped kerb on the map. 
                        A yellow marker will appear where you clicked, and an orange form will open on bottom left of the screen.
                        If you click on the map again while the form is open, the marker will move to the new location, and 
                        the form will update to show the new location, as given by the longitude and latitude.
                    </p>

                    <p>If you would like to record the condition of the dropped kerb, you can select from three options:</p>    
                    
                    <ul>
                        <li class="bullet-green">Green: The dropped kerb is usable and in good condition.</li>
                        <li class="bullet-orange">Orange: The dropped kerb is usable but needs improvement.</li>
                        <li class="bullet-red">Red: The dropped kerb is dangerous or not usable.</li>
                    </ul>
                    
                    <p>
                        If you select either Orange or Red, please select at least one reason why.
                        You many also leave a comment to further clarify your reason for selecting the condition.</li>
                    </p>

                    <p>You can also report locations where there is no dropped kerb, but one is needed to provide access.</p>
                    <p>To do this, select the condition 'White' in the form, and add a brief comment below to explain why
                        you think there should be a dropped kerb there.</p>


                    <p>If you would like to add a photo of the dropped kerb, you can do so by clicking the 'Choose File' button. 
                        This will open a file browser, where you can select a photo from your device. 
                        The photo will be uploaded when you submit the report.</p>

                    <p>When you are happy with the report, click the 'Submit' button. 
                        The report will be submitted and the marker will turn the same colour as the condition you selected.
                        You will also see a message confirming that the report has been submitted.
                    </p>

                    <img src="{% static 'images/report_created_successfully_message.png' %}" alt="Success Message" class="instructions-img message-img">

                    <p>You can now click on the marker to see the details of the report on a popup. The popup also
                        contains a link to the view report page, where you can see the full details of the report, and a link to
                        the edit report page, where you can change any details of the report.</p>

                    <img src="{% static 'images/marker_popup.png' %}" alt="Marker Popup" class="instructions-img popup-img">

                    <p>To close the popup, click anywhere on the map.</p>

                    <p>You can see all your reports on the map, and you can also see them in a list, as descibed in the next section.</p>
                </div>
            </div>
        </div>
    
        <div class="accordion-item">
            <h3 class="accordion-header" id="heading-view-reports">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-view-reports" aria-expanded="false" aria-controls="collapse-view-reports">
                    <span class="underline-green">View your reports</span>
                </button>
            </h3>
            <div id="collapse-view-reports" class="accordion-collapse collapse" aria-labelledby="heading-view-reports" data-bs-parent="#instructionsAccordion">
                <div class="accordion-body">
                    <p>To view a list of your reports click List Reports in the menu. 
                    Here you can see all your submitted reports in a list. 
                    You can click the view icon <i class="bi bi-eye-fill px-1"></i> to view the 
                    full details of the report, the edit icon <i class="bi bi-pencil-fill px-1"></i> 
                    to edit it, or the delete icon <i class="bi bi-trash-fill px-1"></i> to delete it.</p>

                    <p>Click the photo icon <i class="bi bi-camera-fill px-1"></i> to preview the photo you uploaded with the report.</p>

                    <p>If you're on a mobile device or a small screen, you can scroll to the right to
                        see the rest of the columns.</p>

                    <div class="view-reports-img-wrapper">
                        <img src="{% static 'images/report_list.png' %}" alt="Report List" class="view-reports-img">
                    </div>

                </div>
            </div>
        </div>
    
        <div class="accordion-item">
            <h3 class="accordion-header" id="heading-edit-report">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-edit-report" aria-expanded="false" aria-controls="collapse-edit-report">
                    <span class="underline-green">Edit a report</span>
                </button>
            </h3>
            <div id="collapse-edit-report" class="accordion-collapse collapse" aria-labelledby="heading-edit-report" data-bs-parent="#instructionsAccordion">
                <div class="accordion-body">
                    <p>There are two ways to edit a report:</p>
                    
                    <p>If you want to adjust the report location you can simply drag its
                        marker on the map (Add Report page). First, double click on the 
                        marker and it will turn purple, then you can drag it to a different location.
                        When you let go of the marker it will return to its original colour 
                        and the report will be updated with the new location.
                        A message will appear confirming that the report has been updated.
                    </p> 

                    <img src="{% static 'images/report_updated_successfully_message.png' %}" alt="Reprt Updated Successfully Message" class="instructions-img message-img">
                        
                    <p>If you want to change any other element of the report, you can do 
                        so on the edit report page. This can be accessed either:</p>    
                    <ul>
                        <li>On the map, (single) click on the marker to open a popup, which contains a link to the edit report page.</li>
                        <li>Click the List Reports link in the menu to display a list of all your reports, 
                            and click the edit icon <i class="bi bi-pencil-fill px-1"></i>. If you want to delete the 
                            report you can click the delete icon <i class="bi bi-trash-fill px-1"></i> instead.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <p class="mt-3">If you have any questions, please message us using the <a href="{% url 'contact' %}">Contact</a> page.</p>
</div>
{% endblock %}