{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Dropped Kerb Reports Map</h1>
    
    <div id="map" style="width: 100%; height: 500px;">
        <button id="toggle-satellite">Toggle Satellite View</button>
        <!-- Custom attribution for Google -->
        <div id="google-logo">
            <img src={% static 'images/google_on_non_white_hdpi.png'%} alt="Google Logo" style="height:20px;">
        </div>
        <div id="google-copyright">
            &copy;Map data ©2025
        </div>
    </div>
    

    <!-- Embed the reports data safely using json_script -->
    {{ reports|json_script:"reports-data" }}
</div>

<script src="{% static 'js/map_reports.js' %}"></script>
{% endblock %}