{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div>    
    <div id="map">

        <!-- Toggle map style button -->
        <button id="toggle-satellite">
            <img id="toggle-icon" src="{% static 'images/satellite_icon.png' %}" alt="Satellite Icon">
            <span id="toggle-text">Satellite View</span>
        </button>

        <!-- Add new report button -->
        <button id="add-report">
            <img src="{% static 'images/marker.png' %}" alt="Add Report Icon">
        </button>

        <!-- Google Logo -->
        <div id="google-logo">
            <img src={% static 'images/google_on_non_white_hdpi.png' %} alt="Google Logo" style="height:20px;">
        </div>
    </div>

    <div class="map-report-form-container">
        <form method="post" enctype="multipart/form-data" id="map-report-form" 
            action="{% url 'map-reports' %}" 
            hx-post="{% url 'map-reports' %}" 
            hx-target="#new-report-container" 
            hx-swap="beforeend">
            {% csrf_token %}
            {% crispy form %}
        </form>
        <div id="form-errors" class="text-danger"></div> <!-- Placeholder for form errors -->
    </div>

    <!-- Embed the reports data safely using json_script -->
    {{ reports|json_script:"reports-data" }}

    <!-- Container for new report data -->
    <div id="new-report-container"></div>
</div>

<!-- Maplibre GL JS -->
<script src="https://unpkg.com/maplibre-gl@^5.3.0/dist/maplibre-gl.js"></script>
<!-- Ordnance Survey -->
<script src="https://cdn.jsdelivr.net/gh/OrdnanceSurvey/os-api-branding@0.3.1/os-api-branding.js"></script>
<!-- turf.js for checking clicked locations are inside UK boundary -->
<script src="https://cdn.jsdelivr.net/npm/@turf/turf@7/turf.min.js"></script>
 <!-- Define JS variables with the static URLs -->
<script>
    const satelliteIconUrl = "{% static 'images/satellite_icon.png' %}";
    const mapIconUrl = "{% static 'images/map_icon.png' %}";
    const markerUrl = "{% static 'images/marker_32_48.png' %}";
</script>
<script type="module" src="{% static 'js/map-reports.js' %}"></script>
<script src="{% static 'js/add-event-listener-new-report-marker.js' %}"></script>
{% endblock %}