{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load comma_wrap %}

{% block content %}

<div class="list-reports-container my-4 mx-1">

    {% comment %} Title {% endcomment %}
    {% if user.is_superuser %}
        <h2 class="underline-orange ms-2">All Reports</h2>
    {% else %}
        <h2 class="underline-orange ms-2">Your Reports</h2>
    {% endif %}

    <div id="report-table" class="mt-2">
        {% if table.page.object_list %}
            {% render_table table %}
        {% else %}
        <div class="mx-2 mt-2">
            No reports created yet. Please <a class="custom-link" href="{% url 'map-reports' %}">create a report</a> to get started.
        </div>
    {% endif %}
    </div>
</div>

{% include "mapper/delete_modal.html" %}

{% endblock %}

{% block extras %}
<script src="{% static 'js/delete-report-from-table.js' %}"></script>
{% endblock %}
