{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load comma_wrap %}

{% block content %}

<div class="list-reports-container my-4 mx-1">

    {% comment %} Title {% endcomment %}
    {% endif %}
    {% if user.is_superuser %}
        <h2 class="underline-orange ms-2">All Reports</h2>
    {% else %}
        <h2 class="underline-orange ms-2">Your Reports</h2>
    {% endif %}

    <div id="report-table mt-2">
        {% render_table table %}
    </div>

</div>

{% endblock %}
