{% extends 'base.html' %} 
{% block content %}
{% load static %}

<div class="m-2 md-3">
<h2 class="fw-bold">Details for Report Number {{ report.id }}</h2>
<table>
  <tr>
    <th>Latitude</th>
    <td>{{ report.latitude }}</td>
  </tr>
  <tr>
    <th>Longitude</th>
    <td>{{ report.longitude }}</td>
  </tr>
  <tr>
    <th>Place</th>
    <td>{{ report.place_name }}</td>
  </tr>
  <tr>
    <th>County</th>
    <td>{{ report.county.county}}</td>
  </tr>
  <tr>
    <th>Condition</th>
    <td>{{ report.get_condition_display }}</td>
  </tr>
  <tr>
    <th>Reasons</th>
    <td>
      {% if report.reasons %}
        {{ report.get_reasons_display }}
      {% else %}
        None
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>Comments</th>
    <td>
        {% if report.comments %}
            {{ report.comments }}
        {% else %}
            None
        {% endif %}
    </td>
  </tr>
  <tr>
    <th>Created by</th>
    <td>
      {% if report.user %}
        {{ report.user.first_name }} {{ report.user.last_name }}
      {% else %}
        Anonymous
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>Created on</th>
    <td>{{ report.created_at|date:"d-m-Y H:i" }}</td>
  </tr>
  <tr>
    <th>Updated on</th>
    <td>{{ report.updated_at|date:"d-m-Y H:i" }}</td>
  </tr>
</table>

{% if report.photo %}
  <div class="my-3 report-photo-container">
    <img src="{{ report.photo.url }}" alt="Photo for Report {{ report.id }}" class="report-photo">
  </div>
{% else %}
  <p>No photos available for this report.</p>
{% endif %}


  <h3 class="mt-4">What would you like to do next?</h3>
  <div class="what-next mb-4">
  {% if user.is_authenticated and report.user == user or user.is_superuser %}
  <a href="{% url 'edit-report' report.id %}" class="btn btn-edit btn-orange my-2 d-block">Edit this report</a>
  <button type="button" class="btn btn-red my-2 d-block w-100" data-bs-toggle="modal" data-bs-target="#delete-modal">
    Delete this report
  </button>
  {% endif %}
  <a href="{% url 'reports-list' %}" class="btn btn-mango my-2 d-block">Go to your reports list</a>
  <a href="{% url 'map-reports' %}" class="btn btn-green my-2 d-block">Create new report</a>
</div>

</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete report?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"> 
        Are you sure you want to delete your report? This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{% url 'delete-report' report.id %}" class="btn btn-red">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/delete-report.js' %}"></script>
{% endblock %}