{% extends 'base.html' %} 
{% load static %}
{% load comma_wrap %}

{% block content %}

<div class="mt-4 dkm-container report-detail">

  {% if user.is_superuser %}
  <h2 class="underline-orange mb-4">Report Number {{ report.id }}</h2>
  {% else %}
  <h2 class="underline-orange mb-4">Report Number {{ report.user_report_number }}</h2>
  {% endif %}

  <table class="table">
    <tr>
      <th>Latitude</th>
      <td>{{ report.latitude }}</td>
    </tr>
    <tr>
      <th>Longitude</th>
      <td>{{ report.longitude }}</td>
    </tr>
    <tr>
      <th>Place</th>
      <td>{{ report.place_name }}</td>
    </tr>
    <tr>
      <th>County</th>
      <td>{{ report.county.county}}</td>
    </tr>
    <tr>
      <th>Condition</th>
      <td>{{ report.get_condition_display }}</td>
    </tr>
    <tr>
      <th>Reasons</th>
      <td>
        {% if report.reasons %}
          {{ report.get_reasons_display |comma_wrap}}
        {% else %}
          None
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Comments</th>
      <td>
          {% if report.comments %}
              {{ report.comments }}
          {% else %}
              None
          {% endif %}
      </td>
    </tr>
    {% if user.is_superuser %}
    <tr>
      <th>Created by</th>
      <td>
          {{ report.user }}
      </td>
    </tr>
    {% endif %}
    <tr>
      <th>Created</th>
      <td>{{ report.created_at|date:"j F Y H:i" }}</td>
    </tr>
    <tr>
      <th>Updated</th>
      <td>{{ report.updated_at|date:"j F Y H:i" }}</td>
    </tr>
  </table>

  {% if report.photo %}
    <div class="my-3 report-photo-container">
      <img src="{{ report.photo.url }}" alt="Photo for Report {{ report.id }}" class="report-photo">
    </div>
  {% else %}
    <p class="my-2">No photo available for this report.</p>
  {% endif %}

  <p class="mt-4 mb-3">What would you like to do next?</p>

  <div class="what-next mb-4 row">
    
    {% if user.is_authenticated and report.user == user or user.is_superuser %}
    <div class="col-12 col-sm-auto">
      <a href="{% url 'edit-report' report.id %}" class="btn btn-edit btn-orange my-2 d-block">
        Edit this report
      </a>
    </div>
    <div class="col-12 col-sm-auto">
      <button type="button" class="btn btn-red my-2" data-bs-toggle="modal" data-bs-target="#delete-modal">
        Delete this report
      </button>
    </div>
    {% endif %}
    <div class="col-12 col-sm-auto">
      <a href="{% url 'reports-list' %}" class="btn btn-mango my-2 d-block">
        Go to reports list
      </a>
    </div>
    <div class="col-12 col-sm-auto">
      <a href="{% url 'map-reports' %}" class="btn btn-green my-2 d-block">
        Create new report
      </a>
    </div>
  </div>

</div>

{% include "mapper/delete_modal.html" %}

{% endblock content %}

{% block extras %}
<script src="{% static 'js/delete-report.js' %}"></script>
{% endblock %}