/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    /* Fonts */
    --primary-font: 'Open Sans', sans-serif;
    --bs-body-font-size: 1.4rem;

    /* Colours */
    --color-coffee-6: #432b20;
    --color-orange-1: #f5ddd2;
    --color-orange-4: #bd582c;
}

body {
    font-family: var(--primary-font), sans-serif;
}

nav {
    height: 56px;
}

.hidden {
    display: none !important;
}

/* Buttons */
.btn {
    font-family: var(--primary-font), sans-serif;
}

label, .reasons-help-text {
    font-family: var(--primary-font), sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

#logo {
    height: 25px;
}

#map {
    width: 100%;
    height: calc(100vh - 56px); /* Full height minus navbar height */
}

#toggle-satellite {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    border: 1px solid #ccc;
    padding: 8px;
    cursor: pointer;
    z-index: 1000;
}

#toggle-icon {
    height:20px; 
    vertical-align: middle;
}

#add-report {
    position: absolute;
    top: 10px;
    left: 140px;
    background: white;
    border: 1px solid #ccc;
    padding: 8px;
    cursor: pointer;
    z-index: 1000;
    height: 40px; 
}

#add-report img {
    height: 20px; 
    vertical-align: middle;
}


.hide-os .os-api-branding {
    display: none !important;
}

/* Custom Google attribution elements */
#google-logo {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 2;
    display: none;
    /* Initially hidden */
}

#google-copyright {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 2;
    display: none;
    /* Initially hidden */
    font-size: 12px;
    background: rgba(255, 255, 255, 0.8);
    padding: 2px 4px;
}

.maplibregl-ctrl.maplibregl-ctrl-attrib.maplibregl-compact {
    background: rgba(255, 255, 255, 0.5);
    bottom: 0px;
    right: 0px;
    margin: 0;
}

.hide-os .maplibregl-ctrl.maplibregl-ctrl-attrib.maplibregl-compact,
.hide-os .maplibregl-ctrl.maplibregl-ctrl-attrib.maplibregl-compact a {
    background: rgba(255, 255, 255, 0);
    color: white; 
}

.maplibregl-ctrl-bottom-right {
    width: calc(100% - 120px);
    /* position to the right */
    right: 0px;
}

.cursor-crosshair {
    cursor: crosshair;
}

#map-report-form-container {
    display: none; /* Initially hidden */
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #f5ddd2;
    padding: 10px;
    z-index: 1000;
}

#close-form {
    position: absolute;
    top: 0;
    right: 15px;
    padding: 0;
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

#close-form:hover {
    color: #ff0000;
}

.maplibregl-popup {
    max-width: 320px;
}

.col-form-label {
    font-size: 1rem;
    font-weight: 600;
}

#reasons .form-check {
    width: 48%; /* Adjust width to fit two columns */
    box-sizing: border-box;
    margin-bottom: 10px;
}

.hide-sm {
    display: none;
}

/* Allow wrapping for small screens */
@media (max-width: 549px) {
    .maplibregl-ctrl-attrib {
        white-space: normal; /* Allow text to wrap */
        word-wrap: break-word; /* Break long words if necessary */
    }
}

/* Hide longitude and latitude on small screens */
@media (max-width: 767px) {
    #div_id_latitude, #div_id_longitude {
        display: none;
    }
}

@media (min-width: 992px) {
    .hide-sm {
        display: block;
    }

    #map-report-form-container {
        display: none; /* Initially hidden */
        position: absolute;
        bottom: 0;
        max-width: 400px;
        background-color: #f5ddd2;
        z-index: 1000;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}