/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

#logo {
    height: 25px;
}

#map {
    width: 100%;
}

#toggle-satellite {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    border: 1px solid #ccc;
    padding: 8px;
    cursor: pointer;
    z-index: 1000;
}

#toggle-icon {
    height:20px; 
    vertical-align: middle;
}

.hide-os .os-api-branding {
    display: none !important;
}

/* Custom Google attribution elements */
#google-logo {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 2;
    display: none;
    /* Initially hidden */
}

#google-copyright {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 2;
    display: none;
    /* Initially hidden */
    font-size: 12px;
    background: rgba(255, 255, 255, 0.8);
    padding: 2px 4px;
}

.maplibregl-ctrl.maplibregl-ctrl-attrib.maplibregl-compact {
    background: rgba(255, 255, 255, 0.5);
    bottom: 0px;
    right: 0px;
    padding: 0 5px;
    margin: 0;
}

.hide-os .maplibregl-ctrl.maplibregl-ctrl-attrib.maplibregl-compact,
.hide-os .maplibregl-ctrl.maplibregl-ctrl-attrib.maplibregl-compact a {
    background: rgba(255, 255, 255, 0);
    color: white; 
}

.maplibregl-ctrl-attrib-button {
    background-image: none !important;
}